doctype html
html(lang="ko")
  head
   title Figci Connected
   link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header(class="header")
      img(src="/images/logo.png", alt="logo-image" class="logo-image")
      span(calss="header-description")
        | 피그마 버전을 비교해
        br
        | 디자인 변경사항을 한눈에!
    main(class="main")
      img(src="/images/connect.png", alt="connect-image" class="connect-image")
      h1(class="title") Figci를 바로 사용할 수 있어요!
      span(class="main-description")
        | Figci는 피그마 디자인 파일 링크와 파일의 이전/최신 버전을
        br
        | 선택해주시면 같은 디자인 파일의 변경사항을 바로 볼 수 있어요!
