doctype html
html(lang="ko")
  head
   title Figci Connected
   link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header(class="header")
      img(src="/images/logo.png", alt="logo-image" class="logo-image")
      span(class="header-description")
        | Compare Figma versions
        br
        | to spot design changes at a glance!
    main(class="main")
      img(src="/images/connect.png", alt="connect-image" class="connect-image")
      h1(class="title") Start using Figci right away!
      span(class="main-description")
        | Figci lets you see changes in the same design file
        br
        | by selecting the Figma design file link and its previous/latest version.
